<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miniprosg.andgeeks.autoshift">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartUp"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NavDrawerActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:label="Browse your dreams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RedirectReg"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".UserRegister" />
        <activity
            android:name=".ResetPassword"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ChangePassword"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ActivityOnBoarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CompareCarActivity" />
        <activity android:name=".AgentRegister" />
        <activity
            android:name=".AddBrandInfo"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".AgentAddCars" />
        <activity
            android:name=".Compare_TwoCars"
            android:label="Compare Cars" />
        <activity
            android:name=".CarView_Brand"
            android:label="View Cars By Brands" />
        <activity
            android:name=".CarView_Budget"
            android:label="View Cars By EMI/Budget" />
        <activity
            android:name=".CarView_Fuel"
            android:label="View Cars By Fuel Type" />
        <activity
            android:name=".CarView_Body"
            android:label="View Cars By Body Type" />
        <activity android:name=".AgentAddBikes" />
        <activity
            android:name=".BikeView_Ride"
            android:label="View Cars By Ride Type" />
        <activity
            android:name=".BikeView_Brand"
            android:label="View Cars By Brand" />
        <activity
            android:name=".BikeView_Budget"
            android:label="View Cars By EMI/Budget" />
        <activity
            android:name=".BikeView_Fuel"
            android:label="View Cars By Fuel Type" />
        <activity
            android:name=".Compare_TwoBikes"
            android:label="Compare Bikes" />
        <activity
            android:name=".User_AgentInteraction"
            android:label="Chat With Support Staffs" />
        <activity
            android:name=".NearShowroom"
            android:label="Locate Nearest Showroom" />

        <service
            android:name=".MSGNotifyService_Agent"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ShowRoomView"
            android:label="" />
        <activity
            android:name=".AgentMSGLookup"
            android:label="View Conversations" />
        <activity
            android:name=".Agent_UserInteraction"
            android:label="Chat With Customers" />
        <activity
            android:name=".UserMSGLookup"
            android:label="View Conversations" />
        <activity
            android:name=".UpdateProfile_User"
            android:label="Update Profile" />
        <activity
            android:name=".UpdateProfile_Agent"
            android:label="Update Profile" />
        <activity android:name=".FeedBack" />
        <activity android:name=".AboutUS"></activity>
    </application>

</manifest>